@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/animations';
 

// Breakpoints 
@include breakpoints((
    xlarge:   ( 1281px,  1680px ),
    large:    ( 981px,   1280px ),
    med-lrg:  ( 830px,   1044px ),
    medium:   ( 747px,   980px  ), 
    small:    ( 481px,   746px  ), 
    xsmall:   ( 361px,   480px  ),
    xxsmall:  ( null,    360px  )
));

// Base  
@import 'base/reset'; 
@import 'base/page';
@import 'base/typography';

// Components 
@import 'components/buttons';
@import 'components/stems';
@import 'components/leafs';
 

// Layout
@import 'layout/header'; 
@import 'layout/wrapper';
@import 'layout/home';
@import 'layout/blog';
@import 'layout/mission';
@import 'layout/shop';
@import 'layout/footer';

