// button {
//     background: _palette(btn-color);
//     transition: 500ms ease-in-out;

//     color: _palette(fg);
//     border: none;
    
//     width: 12em;
//     height: 4em;

//     &:hover{
//         background: _palette(btn-hover);
//         transition: 300ms ease-in-out;
//         cursor: pointer;
//     }
// }
 
.btn{
    background: _palette(btn-color);
    transition: 500ms ease-in-out;
    color: _palette(fg);
    border: none;
    text-align: center;
    
    line-height: 60px;
    width: 180px;
    height: 60px;
    font-size: 0.9rem;
    font-weight: bold;

    &:hover{
        background: _palette(btn-hover);
        transition: 300ms ease-in-out;
        color: _palette(fg);

    }
}




