
.stem1_leaf {
    visibility: hidden;
}

.stem2_leaf{
    display: none;
}

/*****************
    leafs for FIRST stem home page

******************/

.leaf1_1, .leaf1_2, .leaf1_3, .leaf1_4, .leaf1_5, .leaf1_6, .leaf1_7, .leaf1_8{
    width: 85px;  
    //background: pink;
    height: auto; 
    position: absolute; 
    right: 498px;
    top: -10px;
    //visibility: visible;
    transform-origin: 0% 100%;
    animation: leafgrow 500ms;
    animation-fill-mode: forwards;
    animation-delay: 800ms;
    z-index: 1;
}

.leaf1_2{ 
    width: 140px;
    right: 350px;
    top: 130px; 
    transform-origin: left;
    animation: leafgrowHorizontal 500ms;
    animation-fill-mode: forwards;
    animation-delay: 900ms;
}

.leaf1_3{
    right: 370px;
    top: -15px; 
    animation-delay: 1000ms;
}

.leaf1_4{
    width: 115px;
    top: 111px;
    right: 265px;
    transform-origin: left;
    animation: leafgrowHorizontal 500ms;
    animation-fill-mode: forwards;
    animation-delay: 1150ms;
}

.leaf1_5{
    width: 100px;
    top: 27px;
    left: 278px; 
    transform-origin: left;
    animation: leafgrowHorizontal 500ms;
    animation-fill-mode: forwards;
    animation-delay: 1300ms;
}

.leaf1_6{
    width: 95px;
    top: 82px;
    right: 155px;
    transform-origin: left;
    animation: leafgrowHorizontal 500ms;
    animation-fill-mode: forwards;
    animation-delay: 1400ms;
}

.leaf1_7{
    width: 50px;
    right: 155px;
    top: -52px;
    animation-delay: 1580ms;
}

.leaf1_8{
    top: 7px;
    right: 42px; 
    transform-origin: left;
    animation: leafgrowHorizontal 500ms;
    animation-fill-mode: forwards;
    animation-delay: 1800ms;
}



@keyframes leafgrow{  
    0%{
        transform: scaley(0);
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: scaley(1);
    } 
}  


@keyframes leafgrowHorizontal{  
    0%{
        transform: scalex(0);
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: scalex(1);
    } 
}  

/*****************
    leafs for SECOND stem home page
    
******************/

.leaf2_1, .leaf2_2, .leaf2_3, .leaf2_4, .leaf2_5, .leaf2_6, .leaf2_7, .leaf2_8, .leaf2_9, .leaf2_10, .leaf2_11{
    width: 125px;  
    height: auto; 
    position: absolute; 
    right: 10px;
    bottom: 80px;
    visibility: hidden;
    transform-origin: 0% 100%;
    animation: leafgrow2 500ms;
    animation-fill-mode: forwards;
    animation-delay: 50ms;
    z-index: 1;
    display: inline-block;
}

.leaf2_2, .leaf2_4, .leaf2_5, .leaf2_7, .leaf2_8, .leaf2_10, .leaf2_11{
    width: 185px;
    bottom: -20px;
    right: 135px;
    transform-origin: right;
    animation: leafgrow2Horizontal 500ms;
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}



.leaf2_3{
    width: 100px;
    bottom: 150px;
    right: 190px;
    animation-delay: 250ms;
}

.leaf2_4{
    width: 200px;
    bottom: 50px;
    right: 290px;
    animation-delay: 300ms;
}

.leaf2_5{
    width: 190px;
    bottom: 120px; 
    right: 350px;
    animation-delay: 420ms;
}

.leaf2_6{
    width: 90px;
    bottom: 230px;
    right: 355px;
    animation-delay: 550ms;
}

.leaf2_7{
    width: 180px;
    bottom: 200px;
    right: 460px;
    animation-delay: 650ms;
}

.leaf2_8{
    width: 170px;
    bottom: 280px;
    right: 525px;
    animation-delay: 750ms;
}

.leaf2_9{
    width: 70px;
    bottom: 370px;
    right: 515px;
    animation-delay: 850ms; 
}
.leaf2_10{
    width: 120px;
    bottom: 330px;
    right: 620px;
    animation-delay: 975ms;
}

.leaf2_11{
    width: 100px;
    bottom: 420px;
    right: 720px;
    animation-delay: 1075ms;
}

@keyframes leafgrow2{  
    0%{
        transform: scaley(0);
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: scaley(1);
    } 
}  

@keyframes leafgrow2Horizontal{  
    0%{
        transform: scalex(0);
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: scalex(1);
    } 
}  
