@charset "UTF-8";
@-webkit-keyframes home-up {
  0% {
    min-height: 100vh; }
  100% {
    min-height: 70vh; } }
@keyframes home-up {
  0% {
    min-height: 100vh; }
  100% {
    min-height: 70vh; } }

.hero-anim {
  -webkit-animation-name: home-up;
  animation-name: home-up;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes home-text-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes home-text-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.hero-info-anim {
  -webkit-animation-name: home-text-fade;
  animation-name: home-text-fade;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out; }

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

mark {
  background-color: transparent;
  color: inherit; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none; }

/* Basic */
@-ms-viewport {
  width: device-width; }

body {
  -ms-overflow-style: scrollbar;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain; }

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px; } }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  scroll-behavior: smooth;
  background: #fff;
  overflow-x: hidden; }
  body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important; }

/* Type */
body, input, select, textarea {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16.5pt;
  font-weight: normal;
  line-height: 1.75; }
  @media screen and (max-width: 1680px) {
    body, input, select, textarea {
      font-size: 13pt; } }
  @media screen and (max-width: 1280px) {
    body, input, select, textarea {
      font-size: 12pt; } }
  @media screen and (max-width: 360px) {
    body, input, select, textarea {
      font-size: 11pt; } }

a {
  -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  -o-transition: color 0.2s ease, border-bottom-color 0.2s ease;
  transition: color 0.2s ease, border-bottom-color 0.2s ease;
  color: inherit;
  text-decoration: none; }
  a:hover {
    border-bottom-color: transparent;
    color: #674b42; }

strong, b {
  color: #674B42;
  font-weight: bold; }

em, i {
  font-style: italic; }

p {
  font-size: 1rem;
  color: #fff; }

.dark-txt {
  color: #000; }

h1, h2, h3, h4, h5, h6 {
  color: #674B42;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 0.5em 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none; }

h1 {
  font-size: 2.5em;
  color: #674B42; }
  h1.major {
    margin: 0 0 1.3em 0;
    position: relative;
    padding-bottom: 0.35em; }
    h1.major:after {
      background-image: -moz-linear-gradient(to left, #fAfAfA, #674b42);
      background-image: -webkit-linear-gradient(to left, #fAfAfA, #674b42);
      background-image: -ms-linear-gradient(to left, #fAfAfA, #674b42);
      background-image: -webkit-gradient(linear, right top, left top, from(#fAfAfA), to(#674b42));
      background-image: -webkit-linear-gradient(right, #fAfAfA, #674b42);
      background-image: -o-linear-gradient(right, #fAfAfA, #674b42);
      background-image: linear-gradient(to left, #fAfAfA, #674b42);
      -moz-transition: max-width 0.2s ease;
      -webkit-transition: max-width 0.2s ease;
      -ms-transition: max-width 0.2s ease;
      -o-transition: max-width 0.2s ease;
      transition: max-width 0.2s ease;
      border-radius: 0.2em;
      bottom: 0;
      content: '';
      height: 0.05em;
      position: absolute;
      right: 0;
      width: 100%; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1em; }

h4 {
  font-size: 0.9em; }

h5 {
  font-size: 0.8em; }

h6 {
  font-size: 0.6em; }

@media screen and (max-width: 746px) {
  h1 {
    font-size: 1.75em; }
  h2 {
    font-size: 1em; }
  h3 {
    font-size: 0.8em; }
  h4 {
    font-size: 0.8em; }
  h5 {
    font-size: 0.6em; }
  h6 {
    font-size: 0.6em; } }

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em; }

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em; }

blockquote {
  border-left: solid 4px #728C5B;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em; }

code {
  background: #3f3d3a;
  border-radius: 0.25em;
  border: solid 1px #728C5B;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em; }

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  margin: 0 0 2em 0; }
  pre code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto; }

hr {
  border: 0;
  border-bottom: solid 1px #728C5B;
  margin: 2em 0; }
  hr.major {
    margin: 3em 0; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.btn {
  background: #674B42;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  color: #fff;
  border: none;
  text-align: center;
  display: inline-block;
  line-height: 60px;
  height: 60px;
  width: 180px;
  font-size: 0.9rem;
  font-weight: bold; }
  .btn:hover {
    background: #a04c4c;
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    color: #fff; }

.blog {
  background: #c9c7c7; }

.svgContain {
  width: 600px;
  height: auto;
  background: transparent;
  visibility: hidden; }

#stem1, #stem2 {
  position: absolute; }

#stem2 {
  margin-left: calc(100vw - 800px); }
  #stem2 .svgContain {
    width: 800px; }

.theOverlay {
  stroke-dasharray: 850;
  stroke-dashoffset: 850;
  -webkit-animation: draw 3s ease-in infinite;
  animation: draw 3s ease-in infinite; }

.theOverlay1 {
  stroke-dasharray: 850;
  stroke-dashoffset: 850;
  -webkit-animation: draw 4s ease-in;
  animation: draw 4s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.theOverlay2 {
  stroke-dasharray: 150;
  stroke-dashoffset: -100;
  -webkit-animation: draw 1.5s ease-out;
  animation: draw 1.5s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
    color: #728C5B; } }

@keyframes draw {
  to {
    stroke-dashoffset: 0;
    color: #728C5B; } }

header {
  padding: 0 50px;
  position: fixed;
  width: 100%;
  z-index: 1000; }
  @media screen and (max-width: 746px) {
    header {
      padding: 0 10px; } }
  header nav {
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white; }
    @media screen and (max-width: 980px) {
      header nav {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; } }
    header nav svg {
      height: 25px;
      position: relative;
      top: 5px;
      margin-right: 0.5rem; }
    header nav a {
      border-bottom: none; }
    header nav .outer-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 35%; }
      header nav .outer-menu ul {
        width: 30vw;
        min-width: 300px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        header nav .outer-menu ul li {
          position: relative; }
          header nav .outer-menu ul li .active::after {
            content: '▲';
            font-size: 0.6rem;
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 80%;
            -webkit-transform: translate(-50%);
            -ms-transform: translate(-50%);
            transform: translate(-50%); }
    @media screen and (max-width: 980px) {
      header nav .outer-menu {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1; }
        header nav .outer-menu .checkbox-toggle {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          cursor: pointer;
          width: 60px;
          height: 60px;
          opacity: 0; }
          header nav .outer-menu .checkbox-toggle:checked + .hamburger > div {
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg); }
            header nav .outer-menu .checkbox-toggle:checked + .hamburger > div:before, header nav .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
              top: 0;
              -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
            header nav .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
              opacity: 0; }
          header nav .outer-menu .checkbox-toggle:checked ~ .menu {
            pointer-events: auto;
            visibility: visible; }
            header nav .outer-menu .checkbox-toggle:checked ~ .menu > div {
              -webkit-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1);
              -webkit-transition-duration: .75s;
              -o-transition-duration: .75s;
              transition-duration: .75s;
              position: relative; }
              header nav .outer-menu .checkbox-toggle:checked ~ .menu > div > div {
                opacity: 1;
                -webkit-transition: opacity .4s ease .4s;
                -o-transition: opacity .4s ease .4s;
                transition: opacity .4s ease .4s; }
          header nav .outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
            -webkit-transform: rotate(225deg);
            -ms-transform: rotate(225deg);
            transform: rotate(225deg); }
        header nav .outer-menu .hamburger {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 60px;
          height: 60px;
          padding: .5em 1em;
          background: #728C5B;
          border-radius: 10px;
          cursor: pointer;
          -webkit-transition: -webkit-box-shadow .4s ease;
          transition: -webkit-box-shadow .4s ease;
          -o-transition: box-shadow .4s ease;
          transition: box-shadow .4s ease;
          transition: box-shadow .4s ease, -webkit-box-shadow .4s ease;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          header nav .outer-menu .hamburger > div {
            position: relative;
            -webkit-box-flex: 0;
            -ms-flex: none;
            flex: none;
            width: 100%;
            height: 3px;
            background: #FEFEFE;
            -webkit-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; }
            header nav .outer-menu .hamburger > div:before, header nav .outer-menu .hamburger > div:after {
              content: '';
              position: absolute;
              z-index: 1;
              top: -10px;
              left: 0;
              width: 100%;
              height: 3px;
              background: inherit;
              -webkit-transition: all .4s ease;
              -o-transition: all .4s ease;
              transition: all .4s ease; }
            header nav .outer-menu .hamburger > div:after {
              top: 10px; }
        header nav .outer-menu .menu {
          position: fixed;
          top: 10px;
          left: 10px;
          max-width: 500px;
          min-width: 300px;
          height: 500px;
          border-radius: 20px;
          pointer-events: none;
          visibility: hidden;
          overflow: hidden;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          outline: 1px solid transparent; }
          header nav .outer-menu .menu > div {
            max-width: 500px;
            height: 500px;
            min-width: 300px;
            color: #FEFEFE;
            background: #728C5B;
            border-radius: 20px;
            -webkit-box-flex: 0;
            -ms-flex: none;
            flex: none;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            -webkit-transform-origin: top left;
            -ms-transform-origin: top left;
            transform-origin: top left;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            overflow: hidden;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; }
            header nav .outer-menu .menu > div > div {
              text-align: center;
              width: 40vw;
              min-width: 300px;
              margin-top: 80px;
              height: 500px;
              opacity: 0;
              -webkit-transition: opacity .4s ease;
              -o-transition: opacity .4s ease;
              transition: opacity .4s ease;
              overflow-y: auto;
              -webkit-box-flex: 0;
              -ms-flex: none;
              flex: none;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center; }
              header nav .outer-menu .menu > div > div > ul {
                list-style: none;
                padding: 0 1em;
                margin: 0;
                display: block;
                height: 500px; }
                header nav .outer-menu .menu > div > div > ul > li {
                  padding: 0;
                  margin: 1em;
                  font-size: 24px;
                  display: block; }
                  header nav .outer-menu .menu > div > div > ul > li > a {
                    position: relative;
                    display: inline;
                    cursor: pointer;
                    -webkit-transition: color .4s ease;
                    -o-transition: color .4s ease;
                    transition: color .4s ease; } }
  header #header-logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    top: 10px; }

.wrapper {
  padding: 0 12%; }
  @media screen and (max-width: 980px) {
    .wrapper {
      padding: 0 8%; } }
  @media screen and (max-width: 480px) {
    .wrapper {
      padding: 0 2%; } }

.first-top-half-home {
  min-height: 100vh;
  padding-top: 4%;
  border-bottom: 8px solid #728C5B;
  background: -webkit-linear-gradient(294deg, #fafafa 0%, #e9a812 0%, #e9a812 19%, #efc461 85%, #f1cf81 100%, #fafafa 100%);
  background: -o-linear-gradient(294deg, #fafafa 0%, #e9a812 0%, #e9a812 19%, #efc461 85%, #f1cf81 100%, #fafafa 100%);
  background: linear-gradient(156deg, #fafafa 0%, #e9a812 0%, #e9a812 19%, #efc461 85%, #f1cf81 100%, #fafafa 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 980px) {
    .first-top-half-home {
      padding-top: 100px; } }
  .first-top-half-home .inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .first-top-half-home .inner #hero-info {
      opacity: 0; }
      @media screen and (max-width: 980px) {
        .first-top-half-home .inner #hero-info {
          margin-top: 10%;
          width: 70%; } }
      @media screen and (max-width: 746px) {
        .first-top-half-home .inner #hero-info {
          width: 90%; } }
      .first-top-half-home .inner #hero-info a {
        border-bottom: 1px solid #674b42; }
    .first-top-half-home .inner #hero-img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 30%; }
      @media screen and (min-width: 747px) {
        .first-top-half-home .inner #hero-img {
          margin-right: 10%;
          margin-left: 5%; } }
      @media screen and (min-width: 747px) {
        .first-top-half-home .inner #hero-img {
          margin-right: 5%; } }
      @media screen and (max-width: 980px) {
        .first-top-half-home .inner #hero-img {
          width: 90%;
          margin-top: 10%;
          margin-bottom: 10%; } }
      .first-top-half-home .inner #hero-img img {
        width: 100%; }
        @media screen and (max-width: 980px) {
          .first-top-half-home .inner #hero-img img {
            width: 70%; } }
        @media screen and (max-width: 746px) {
          .first-top-half-home .inner #hero-img img {
            width: 80%;
            margin-left: 10%; } }

.first-bottom-half-home {
  background: #fff;
  min-height: 300px;
  max-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .first-bottom-half-home .inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media screen and (max-width: 980px) {
      .first-bottom-half-home .inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
  .first-bottom-half-home .bottom-half-home-action {
    width: 50%; }
    .first-bottom-half-home .bottom-half-home-action .home-second-half-btn {
      position: relative;
      left: 50%;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%); }
  .first-bottom-half-home .bottom-half-home-text {
    width: 50%; }
    @media screen and (max-width: 980px) {
      .first-bottom-half-home .bottom-half-home-text {
        width: 80%; } }
    @media screen and (max-width: 746px) {
      .first-bottom-half-home .bottom-half-home-text {
        width: 95%;
        margin-top: 10%;
        margin-bottom: 5%; } }

#second-top-half-home {
  border-bottom: 8px solid #728C5B; }
  #second-top-half-home .inner {
    height: 60vh;
    padding-top: 4%; }
    #second-top-half-home .inner div {
      width: 50%; }
      @media screen and (max-width: 980px) {
        #second-top-half-home .inner div {
          width: 70%; } }
      @media screen and (max-width: 746px) {
        #second-top-half-home .inner div {
          width: 85%; } }
      #second-top-half-home .inner div .btn {
        margin-top: 2rem; }

.second-bottom-half-home {
  background: -webkit-linear-gradient(59deg, #fafafa 0%, #e9a812 0%, #e9a812 19%, #efc461 85%, #f1cf81 100%, #fafafa 100%);
  background: -o-linear-gradient(59deg, #fafafa 0%, #e9a812 0%, #e9a812 19%, #efc461 85%, #f1cf81 100%, #fafafa 100%);
  background: linear-gradient(31deg, #fafafa 0%, #e9a812 0%, #e9a812 19%, #efc461 85%, #f1cf81 100%, #fafafa 100%);
  padding-bottom: 5%;
  min-height: 60vh; }
  .second-bottom-half-home .inner {
    height: 100%;
    display: inline-block;
    padding-top: 5%; }
    .second-bottom-half-home .inner .btn {
      margin-top: 2rem;
      position: relative;
      float: right; }
    .second-bottom-half-home .inner h2 {
      text-align: center; }

.inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

footer {
  border-top: 8px solid #728C5B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 120px;
  padding: 0 50px; }
  footer p, footer a {
    font-size: 0.8rem; }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%; }
    footer ul a {
      border-bottom: 1px solid #674B42; }
