footer{
    border-top: 8px solid _palette(border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    padding: 0 50px;
    
    p, a{
        font-size: 0.8rem;
    }

    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;

        a{
            border-bottom: 1px solid _palette(btn-color);
        }
    }
}