header {
    padding: 0 50px;
    // background: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;

    @include breakpoint('<=small'){
        padding: 0 10px;
    }

    nav{
        min-height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // mix-blend-mode: difference;
        color: white;

        svg{
            height: 25px;
            position: relative;
            top: 5px;
            margin-right: 0.5rem;
        }

        a{
            border-bottom: none;
        }
 
        ul{
            min-width: 400px;
            display: flex;
            justify-content: space-around;
            
            li{
                position: relative;
                .active::after{
                    content: '▲';
                    font-size: 0.6rem;
                    display: inline-block;
                    position: absolute;
                    left: 50%;
                    top: 80%;
                    transform: translate(-50%);
                }
            }
           
        }
    }
    

    #header-logo{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 10px;
    }
}

