.first-top-half-home{
    height: 70vh;
    border-bottom: 8px solid _palette(border);
    background: linear-gradient(156deg, rgba(250,250,250,1) 0%, rgba(233,168,18,1) 0%, rgba(233,168,18,1) 19%, rgba(239,196,97,1) 85%, rgba(241,207,129,1) 100%, rgba(250,250,250,1) 100%);
}

.first-bottom-half-home{
    background: _palette(fg);
    height: 30vh;
}

.inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}